<% unless sidebar.archives.blank? %>

<h3 class="sidebar-title" id="side-archive">ARCHIVE</h3>
<ul id="archives">
  <% sidebar.archives.each do |month| %>
    <% counter = sidebar.show_count ? "(#{month[:article_count]})" : "" %>
    <li>
      <%= link_to"#{month[:name]} #{counter}".html_safe,  articles_by_month_path(month[:year], "%02i" % month[:month]) %>
    </li>
  <% end %>
</ul>
<% end %>
