<% if article.password.nil? or article.password.empty? %>
	<div class="here-article-prot">
  		<%= render 'articles/article_content', { :article => article } %>
  	</div>
<% else %>
  <%= render 'articles/password_form', { :article => article } %>
<% end %>

