<img class="separator" src="/images/theme/assets/side_separator.png"/>
<h3 class='sidebar-title'><%= sidebar.title %></h3>
<div class='static-body'><%= sidebar.body %>
<div class="one" style="margin-left:36px">
	<a href="http://www.facebook.com/thefittingroomapp" title="facebook">
		<img src="/images/theme/assets/facebook.png" height="34" width="34" style="margin-right:32px;">
	</a>
	<a href=" http://twitter.com/fittingrmapp" title="twitter">
		<img src="/images/theme/assets/tweeter.png" height="34" width="34" style="margin-right:32px;">
	</a>
	<a href=" http://www.pinterest.com/fittingroomapp/" title="pinterest">
		<img src="/images/theme/assets/pin.png" height="34" width="34">
	</a>
</div>
<div class="two" style="margin-left:36px">
	<a href="http://instagram.com/fittingroomstylist" title="instagram">
		<img src="/images/theme/assets/instagram.png" height="34" width="34" style="margin-right:32px; margin-top:30px;">
	</a>
	<a href=" http://www.rss.com/" title="rss-feed">
		<img src="/images/theme/assets/rss.png" height="34" width="34" style="margin-right:32px;margin-top:30px;">
	</a>
	<a href="http://www.youtube.com/" title="youtube">
		<img src="/images/theme/assets/youtube.png" height="34" width="34" style="margin-top:30px;">
	</a>
</div>
</div>
