
<style>
h1.page-header {
font:25px HelveticaNeue;
}
h1.page-header a{
text-decoration:none;
}
.wrap p {
font: 24px HelveticaNeue;
color: #fff;
text-align:center;
margin:0 auto;
padding-top:25px;
}
.wrap {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	background: #e2b656;
       border-radius:10px;
       margin-bottom:30px;

}
.contributors_list {
	margin: 0;
	padding: 0;
	list-style: none;

}
.contributors_list li {
	float: left;
	margin: 3% 2%;
	padding: 0;
	width: 22%;
	overflow: hidden;
	text-align: center;
	font: 18px Helvetica;
	vertical-align: baseline;
	display: list-item;
	height: 200px;
	
}
.contributors_list li.first {
	margin-left: 0;
}
.contributors_list li.last {
margin-right: 0;
}
.contributors_list li a{
 	text-decoration: none;

}
.contributors_list li a:hover{
 	text-decoration: none;
	/*background-color: #e05e59;
	opacity: 0.9;
	border-radius: 2px;
	height: 200px;
	z-index: 2;*/
	
}
.contributors_list li a img{
 	max-width: 130px;
 	max-height: 130px;
}

.contributors_list li a h3{
font: 20px HelveticaNeue;
color: white;

}</style>
<div class="wrap">
<p>Our Writers</p>
		<ul class="contributors_list top clearfix">
	       <li class="first"><a href=""><img src="/images/theme/assets/contributors/c1.png"><h3>Robin Sloan</h3></a></li>
	       <li><a href=""><img src="/images/theme/assets/contributors/c2.png"><h3>Kirby Ferguson</h3></a></li>
	       <li><a href=""><img src="/images/theme/assets/contributors/c3.png"><h3>Rob Giampietro</h3></a></li>
	       <li class="last"><a href=""><img src="/images/theme/assets/contributors/c4.png"><h3>Mandy Brown</h3></a></li>
	          <li class="first"><a href=""><img src="/images/theme/assets/contributors/c1.png"><h3>Robin Sloan</h3></a></li>
	       <li><a href=""><img src="/images/theme/assets/contributors/c2.png"><h3>Kirby Ferguson</h3></a></li>
	       <li><a href=""><img src="/images/theme/assets/contributors/c3.png"><h3>Rob Giampietro</h3></a></li>
	       <li class="last"><a href=""><img src="/images/theme/assets/contributors/c4.png"><h3>Mandy Brown</h3></a></li>
	          <li class="first"><a href=""><img src="/images/theme/assets/contributors/c1.png"><h3>Robin Sloan</h3></a></li>
	       <li><a href=""><img src="/images/theme/assets/contributors/c2.png"><h3>Kirby Ferguson</h3></a></li>
	       <li><a href=""><img src="/images/theme/assets/contributors/c3.png"><h3>Rob Giampietro</h3></a></li>
	       <li class="last"><a href=""><img src="/images/theme/assets/contributors/c4.png"><h3>Mandy Brown</h3></a></li>
	     </ul>
	</div>