<div class="team-list">
        <header class="center">
            <h3>Meet Our Team</h3>
            <h4>We believe in building products with purpose. If you are passionate about style and beauty we'd love to hear from you. <a href="mailto:info@blog.thefittingroomapp.com">info@blog.thefittingroomapp.com</a></h4>
        </header>
        
    <div class="members">
        <div class="team-member marissa">
            <h6>Marissa Evans <span>Founder &amp; CEO</span></h6>
            <div class="member-details">
                <h4>Marissa Evans</h4>
                <p class="bio">Marissa brings several diverse years of marketing experience to the team, spending time with corporate giants such as Digitas, as well as small entrepreneurs (such as running her previous company, A Shirt Thing). Marissa attended Cornell University, and earned her MBA from Harvard Business School.</p>
                <p class="bio">Marissa also likes comedy a lot and does improv in New York City.</p>
                <ul class="unstyled social-list inline-items">
                    <li> <a target="_blank" class="ir icon twitter" href="http://www.twitter.com/mevans1">Follow me on Twitter</a> </li>
                    <li> <a target="_blank" class="ir icon instagram" href="http://instagram.com/p/NyvZEAJ9Qh/">Follow me on Instagram</a> </li>
                     <li> <a target="_blank" class="ir icon pinterest" href="http://pinterest.com/">Follow me on Instagram</a> </li>
                      <li> <a target="_blank" class="ir icon facebook" href="http://facebook.com/">Follow me on Instagram</a> </li>
                </ul>

            </div>

        </div>

        <div class="team-member simon">
            
            <h6>Simon Holroyd <span>Chief Technology Officer</span></h6>

            <div class="member-details">
                <h4>Simon Holroyd</h4>
                <p class="bio">Simon's websites have been nominated for a variety of awards including a Webby. He attended Tufts University and studied Computer Science. His thin grasp on the fashion scene is gleaned mostly from a religious devotion to The Hills and The City.</p>
                <p class="bio">Before assuming his duties at Go Try It On, he was one of the guys who creates those annoying online ads you hate so much.</p>
                <ul class="unstyled social-list inline-items">
                    <li> <a target="_blank" class="ir icon twitter" href="http://www.twitter.com/ohlordimnosy">Follow me on Twitter</a> </li>
                    <li> <a target="_blank" class="ir icon instagram" href="http://instagram.com/p/MJHx6Bu-BQ/">Follow me on Instagram</a> </li>
                </ul>

            </div>

        </div>

        <div class="team-member matt">
            
            <h6>Matt Varghese <span>Art Director</span></h6>

            <div class="member-details">
                <h4>Matt Varghese</h4>
                <p class="bio">Matt’s knees have been weakened on more than one occasion by the particularly clever use of negative space. There is a vicious rumor floating around that he once made a spelling error in 1994.</p>
                <p class="bio">His penchant for clean and tasteful design has actually helped to inform his fashion acumen, which wouldn't be caught dead within a 10 mile radius of Ed Hardy or any of Ed's immediate family.</p>
                <ul class="unstyled social-list inline-items">
                    <li> <a target="_blank" class="ir icon twitter" href="http://www.twitter.com/pxlt">Follow me on Twitter</a> </li>
                    <li> <a target="_blank" class="ir icon instagram" href="http://instagram.com/p/MYnbabL_um/">Follow me on Instagram</a> </li>
                </ul>

            </div>

        </div>

        <div class="team-member jessie">
            
            <h6>Jessie Goldberg <span>Marketing Director</span></h6>

            <div class="member-details">
                <h4>Jessie Goldberg</h4>
                <p class="bio">Jessie studied Journalism at Indiana University and then moved to New York from her native Chicago to pursue her career in fashion and journalism. She wrote and reported PeopleStyleWatch.com before Go Try It On graced her world.</p>
                <p class="bio">Jessie has always used fashion as a form of expression and can’t wait to change the way people share, shop, and communicate about style.</p>
                <ul class="unstyled social-list inline-items">
                    <li> <a target="_blank" class="ir icon twitter" href="http://www.twitter.com/JessieGoldberg">Follow me on Twitter</a> </li>
                    <li> <a target="_blank" class="ir icon instagram" href="http://instagram.com/p/Kx9PN1iLXN/">Follow me on Instagram</a> </li>
                </ul>

            </div>

        </div>

        <div class="team-member scott">
            
            <h6>Scott Bader <span>Lead Systems Engineer</span></h6>

            <div class="member-details">
                <h4>Scott Bader</h4>
                <p class="bio">Scott grew up on Long Island and attended Stony Brook University's College of Business. He's a self taught software engineer, who isn't really at home without a computer and his dog Maxx.</p>
                <p class="bio">He loves music and, to his own detriment, the New York Mets.</p>
                <ul class="unstyled social-list inline-items">
                    <li> <a target="_blank" class="ir icon twitter" href="http://www.twitter.com/scottabader">Follow me on Twitter</a> </li>
                    
                </ul>

            </div>

        </div>

        <div class="team-member amanda">
            
            <h6>Amanda Hunter <span>VP of Strategic Marketing</span></h6>

            <div class="member-details">
                <h4>Amanda Hunter</h4>
                <p class="bio">Amanda likes to straddle the line between fashion and tech. After earning her degree from M.I.T, she began to explore her passion for style. She enjoyed a diverse merchandising experience at Saks Fifth Avenue, before joining with the Go Try It On family.</p>
                <p class="bio">She has an unhealthy obsession with all things leopard and can often be found overdressed at a dive bar downtown.</p>
                <ul class="unstyled social-list inline-items">
                    <li> <a target="_blank" class="ir icon twitter" href="http://www.twitter.com/ahunts19">Follow me on Twitter</a> </li>
                    <li> <a target="_blank" class="ir icon instagram" href="http://instagram.com/p/MDimfEI_z7/">Follow me on Instagram</a> </li>
                </ul>

            </div>

        </div>

        <div class="team-member caroline">
            
            <h6>Caroline Steed <span>Director of Operations</span></h6>

            <div class="member-details">
                <h4>Caroline Steed</h4>
                <p class="bio">Caroline is a Denver-born, Brooklyn-living, Fordham graduate with an affinity for blue skies, low humidity, and Chappelle's Show.</p>
                <p class="bio">A lover of all things black and white, Caroline finds her joy in music, sports, food, friends, and family.</p>
                <ul class="unstyled social-list inline-items">
                    <li> <a target="_blank" class="ir icon twitter" href="http://www.twitter.com/cestelles">Follow me on Twitter</a> </li>
                    <li> <a target="_blank" class="ir icon instagram" href="http://instagram.com/p/K6ecvQOu7S/">Follow me on Instagram</a> </li>
                </ul>

            </div>

        </div>

        <div class="team-member ashish">
            
            <h6>Ashish Gandhi <span>Application Developer</span></h6>

            <div class="member-details">
                <h4>Ashish Gandhi</h4>
                <p class="bio">Ashish’s first interaction with a computer was using Microsoft Paint. What followed was an interest in programming for fun and he now programs for glory. He was working in Singapore when Go Try It On grabbed him and brought him to NYC.</p>
                <p class="bio">He loves the City and all the food it has to offer.</p>
                <ul class="unstyled social-list inline-items">
                    <li> <a target="_blank" class="ir icon twitter" href="http://twitter.com/SeventhNinja">Follow me on Twitter</a> </li>
                    <li> <a target="_blank" class="ir icon instagram" href="http://instagram.com/p/Kkhzcwlgkv/">Follow me on Instagram</a> </li>
                </ul>

            </div>

        </div>

    </div>

</div>

<script type="text/javascript" >
$(".team-member h6").click(function(closing){if($(this).parent().hasClass("active")){$(".team-member").removeClass("active")}else{$(".team-member").removeClass("active");$(this).parent().addClass("active")}closing.stopPropagation();return false});$(".member-details, .popover-install").click(function(closing){closing.stopPropagation()});$("html").click(function(){$(".team-member, .popover-install").removeClass("active")});</script>
<script type="text/javascript">
$(document).ready(function(){
    $('a[href*="//"]').attr("target","_blank");
    if($("body").hasClass("about")){
        $(".team-member h6").click(function(closing){
            if($(this).parent().hasClass("active")){
                $(".team-member").removeClass("active")}
            else{
                $(".team-member").removeClass("active");
                $(this).parent().addClass("active")
            }
            closing.stopPropagation();
            return false
        });
        $(".member-details, .popover-install").click(function(closing){
            closing.stopPropagation()});
        $("html").click(function(){
            $(".team-member, .popover-install").removeClass("active");
            $(".team-member").removeClass("active")})
    }
    $(".member-details, .popover-install").click(function(closing){
        closing.stopPropagation()});$("html").click(function(){
            $(".team-member, .popover-install").removeClass("active");
            $("#install-form input:first").val("")});
        $(".popover-install .close").click(function(){
            $(".popover-install").removeClass("active");
            $("#install-form input:first").val("");
            return false
        });
        $("#install-form").submit(function(){
            var val=$("#install-form > input:first").val().replace(/[^\d.]/g,"");
            if(val!==""){
                $("#install-form > input:first").val("sending...");
                $.post("/sms/"+val+".json",{},function(data){
                    $("#install-form > input:first").val("you should recieve an SMS shortly!")})}
                return false})});</script>