<img class="separator" src="/images/theme/assets/side_separator.png"/>
<h3 class='sidebar-title'>
  <label for="q"><%= sidebar.title %></label>
</h3>

<%= form_tag({:controller => 'articles',  :action => 'search'}, {:method => 'get', :id => 'sform'}) do %>
  <input type="text" id="q" name="q" value="" size="12" class="input-filter" />
  <input type='submit' id="submit-filter" value="Submit" ></input>
<% end %>
<br style='clear: right' />