<% unless sidebar.authors.blank? -%>
<img class="separator" src="/images/theme/assets/side_separator.png"/>
<h3><%= _("Authors")%></h3>
<ul id="authors">
<% for user in sidebar.authors -%>
  <li>
    <% count = "(#{user.articles.count})" %>
    <%= link_to "#{h(user.name)} #{count if sidebar.count}", :controller => 'authors', :action => 'show', :id => user.login  %>
  </li>
  <% end %>
</ul>
<% end %>
